{
  "extends": ["@react-native-community", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "prettier/prettier": "error",
    "react-hooks/exhaustive-deps": "off"
  }
}
